{
  "presets": [
    "env"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "syntax-object-rest-spread",
          "istanbul",
          {
            "exclude": [
              "spec",
              "shim",
              "lib/index.js"
            ]
          }
        ]
      ]
    }
  }
}
